*{
  text-decoration: none;
  box-sizing: border-box;
}

.btn {
  margin: 5px;
  padding: 25px 75px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background-color: #003cff;
}

.btn:hover {
  background-color: #8700cf;
  transition: 0.3s;
  cursor: pointer;
}

.btn:active {
  transform: translateY(5px);
}
